table, th, td {
    border:1px solid #ccc;
    border-collapse: collapse;
}
td, td {
    padding: 10px 20px;
}
div {
    border:1px solid #222;/*태두리*/ 
}
#container{
    width:600px;
    border:none;
}